* {
  box-sizing: border-box;
}

:root {
  --max-width: 1220px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  font-size: 15px;
  font: 300 17px/22px "Lato", "Open Sans", "Verdana";
  color: #525564;
  line-height: 1.2em;
}
.mainwrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  height: 50px;
  background-color: #fef6eb;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #c25b56;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: var(--max-width);
  margin: 0 auto;
}

.header-img img {
  height: 40px;
  width: 40px;
  margin: 5px 30px 5px 20px;
  line-height: 50px;
  padding: 0;
}

.header-txt {
  width: 200px;
  color: #c25b56;
  font-size: 24px;
  margin: 0px; 
  line-height: 50px;
  white-space: nowrap;
}

.header-navigate {
  color: #c25b56; 
  margin: 0px;
  font-size: 15px;
  line-height: 50px;
  margin-right: 15px;
}


.nav-item {
  margin: 0 5px;
}


@media ( max-width: 325px ) {
  .header-txt {
    display: none;
  }
}




.hide {
  display: none;
}
.show {
  display: block;
}
.color-pale {
  color: #beb9b5;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
.spacer {
  flex-grow: 1;
}


a {
  color: #c25b56; 
  text-decoration: none;
}
a:hover {
  color: #525564;
}



footer {
  min-width: 100%;
  text-align: center;
  border-top:  #c25b56 solid 1px;
  background-color: #fef6eb;
  color: #c25b56; 
}



.page {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: var(--max-width);
}

